# Core functionality - changes here should be rare!
/src/app.py                   @Vetagram
/src/backend/database.py      @Vetagram
/src/backend/routers/auth.py  @Vetagram

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Vetagram
